div.box {
  position:absolute;
  background: white;
  height: 1000px;
  width: 100%;
      background-image: url('assets/backgrnd.png');
      background-repeat: no-repeat;
      background-size: 100%;
      opacity: 0.7;
      filter:alpha(opacity=80);
      overflow:hidden;
}

div.chartAndCarDiv {
  height: 100%;
  width: 100%;
}

div.rightSide {
  position:absolute;
  height: 100%;
  right: 10px;
  float:right;
  width: 20%;
  }


div.leftSide {
  position:absolute;
  height: 100%;
  float: left;
  width: 25%;
}

div.chartDiv {
  display: block;
}


img.carModelPicture{
position: absolute;
left: 45%;
top: 49%;
width: 150px;
height: auto;
}

img.box{
  width: 100%;
  height: auto;
  padding-top:6%;
}

label.sensorLabel{
  padding-left: 13px;
  padding-top: 20px;
  width:50%;
  display:block;
  text-align:center;
}

.imgHolder {
    position: relative;
}
.imgHolder h1 {
    color: #3f4144;
    font-family: 'Open Sans', sans-serif;
    font-size: 2vw;
    font-weight: 300;
    line-height: 40px;
    margin: 0 0 16px;
    position: absolute;
    left: 5%;
    top: 29%;
}
.onOffButtonHolder {
    position: relative;
    top:80%;
}

label.distanceLabel{
position:absolute;
float:right;
left:60%;
top:35%;
color: #666666 ;
font : 4em "typewriter", sans-serif;
text-shadow: 2px 1px grey;
}

.switch {
  position: relative;
  display: inline-block;
  width: 45%;
  left:34%;
  height: 64px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: -30%;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  z-index:0;
  border: 1px solid black;
}

.slider:before {
  position: absolute;
  content: "";
  height: 120%;
  width: 45%;
  left: -30%;
  bottom: -5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid black;
  z-index:0;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(260%);
  -ms-transform: translateX(260%);
  transform: translateX(260%);
}

/* Rounded sliders */
.slider.round {
  border-radius: 68px;
}

.slider.round:before {
  border-radius: 50%;
}

div.rightSide {
  position:absolute;
  height: 100%;
  right: 0;
  float:right;
  width: 20%;
  }
.onOffButtonHolder {
    position: relative;
    top:80%;
}

.sliderOnText{
position:absolute;
float:left;
left:5%;
top:35%;
z-index:-100;
}

.sliderOffText{
position:absolute;
float:left;
top:35%;
left:82%;
width:10%;
z-index:-100;
}
