
<div class="mainContainer">
  <div class="box">
    <div class="chartAndCarDiv">
      <div class="chartDiv">
        <canvas baseChart
                [datasets]="radarChartData"
                [labels]="radarChartLabels"
                [chartType]="radarChartType"
                [options]="radarChartOptions"
                [legend]="false"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)" id="chart"></canvas>
      </div>
    </div>
  </div>

  <div class="leftSide">
    <div class="imgHolder">
      <h1 class="sensorLabel">Left</h1>
      <img [src]="boxPath" class = "box">
    </div>
    <div class="imgHolder">
      <h1 class="sensorLabel">Center</h1>
      <img [src]="boxPath" class = "box">
    </div>
    <div class="imgHolder">
      <h1 class="sensorLabel">Right</h1>
      <img [src]="boxPath" class = "box">
    </div>
  </div>

  <div class="rightSide">
    <div class="onOffButtonHolder">
      <div class="sliderOnText"><label style="font-size:20px;">ON</label></div>
      <div class="sliderOffText"><label style="font-size:20px;">OFF</label></div>
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>
  </div>

  <img [src]="fullImagePath" class = "carModelPicture">

</div>

