<div>
      <div class="box">
        <div class="chartAndCarDiv">
          <div class="chartDiv">
            <canvas baseChart
                    [datasets]="radarChartData"
                    [labels]="radarChartLabels"
                    [chartType]="radarChartType"
                    [options]="radarChartOptions"
                    [legend]="false"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)" id="chart"></canvas>
          </div>
        </div>
      </div>

      <img [src]="fullImagePath" class = "carModelPicture">
      <div class="rightSide">2nd</div>
      <div class="leftSide">3rd</div>

</div>
